@model IEnumerable<ODC_Task2__MVC_.ViewModel.EmployeeVM>




@{
    ViewData["Title"] = "Employee";
}


<style>
    th {
        text-align: center !important;
    }
</style>







<br />




<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-center font-weight-bold">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Age</th>
                                    <th>Jop Title</th>
                                    
                                    <th>Details</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.Address</td>
                                        <td>@item.Age</td>
                                        <td>@item.JobTitle</td>
                                        
                                        
                                        <td><a asp-controller="Employee" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a></td>
                                        <td><a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Update</a></td>
                                        <td><a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

